body
  font-family: "Source Sans Pro"
  font-weight: 300
  font-size: 18px
  line-height: 1.65
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: inherit
  text-decoration: inherit
  transition: color .2s ease-out
  &.selected, &:hover
    color: reduce(100)

a, b, strong, th
  font-weight: 400

h1, h2, h3, h4, h5, h6
  font-weight: 500

main
  flex-grow: 1

article a
  color: #68f

header a, footer a
  color: inherit
  font-weight: 300

hr
  border: 1px solid reduce(16)
  margin: 2em 0

header span, header time
  color: #949494

blockquote
  border-left: 5px solid #68f
  padding-left: 1.5em
  margin: 0

body, aside, main
  flex-direction: column

img
  max-width: 100%
  height: auto
  border-radius: 2px

img.img-center
  display: block
  margin: 0 auto

figure
  margin: 1em 0

figcaption
  display: block

figcaption.fig-center
  text-align: center

p
  padding: 5px
  font-size: 20px
  &::first-letter
    font-size: 150%

.content-box
  position: relative
  top: 5%
  margin: 5%
  bottom: 10px
  background: white
  font-size: 15px
  text-align: left

.list-content-box
  bottom: 10px
  background: white
  font-size: 15px
  width: 50%
  margin: 0 auto
  text-align: center
  li
    list-style-type: none

.half-content-box
  position: relative
  width: 45%
  top: 10px
  margin: 20px
  bottom: 10px
  background: white
  float: left
  text-align: left
  img
    display: block
    width: 90%
    margin: 0 auto
    text-align: center

.after-box
  clear: left

.image-text-wrapper
  padding: 10px
  max-width: 80%
  margin: 0 auto

.post-container
  margin: 20px 20px 0 0
  border: 5px solid #333
  overflow: auto

.post-thumb
  float: left
  padding: 5%
  img
    display: block

.post-content
  margin-left: 30%
  margin-bottom: 20%

/* Highlights
/* Ref: https://pixelita.com/10401/creating-info-boxes-with-css/
.info, .success, .warning, .error, .definition
  border: 1px solid
  margin: 10px 0px
  padding: 15px 10px

.info
  color: #00529b
  background-color: #bde5f8

.success
  color: #4f8a10
  background-color: #dff2bf

.warning
  color: #9f6000
  background-color: #FEEFB3

.error
  color: #D8000C
  background-color: #FFBABA

.definition
  color: #000000
  background-color: #FFFFFF


/* Handlers for "cute" list of items - We adopted the "gallery" analogy
/* Ref: https://www.w3schools.com/css/css_image_gallery.asp
div
  &.gallery
    cursor: pointer
    border: 1px solid #ccc
    &:hover
      border: 1px solid #777
    img
      height: 6vw
      margin: 0 auto
      display: block
      padding: 1px
    a
      display: block
  &.desc
    padding: 15px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    line-height: normal
    color: #000000
    font-weight: bold
    font-size: 15px
    /* It works well for 3 lines
    height: 85px
    vertical-align: middle

*
  box-sizing: border-box

.responsive
  padding: 0 6px
  padding-bottom: 10px
  float: left
  /* The below width make the "magic" o scaling the boxes
  width: 10vw
  height: 10vw
  margin-bottom: 3vw

@media only screen and (max-width: 700px)
  .responsive
    width: 100%
    height: 100vw
    & img
      height: 60vw !important

.clearfix:after
  content: ""
  display: table
  clear: both

/* Modal elements
/* Reference: https://www.w3schools.com/howto/howto_css_modals.asp
.modal
  display: none
  /* Hidden by default
  position: fixed
  /* Stay in place
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  padding: 0
  background-color: rgb(0, 0, 0)
  /* Fallback color
  background-color: rgba(0, 0, 0, 0.4)
  /* Black w/ opacity

/* Modal Header
.modal-header
  padding: 16px
  background-color: #282828
  color: white
  text-align: center

/* Modal Body
.modal-body
  padding: 2px 16px

/* Modal Footer
.modal-footer
  padding: 2px 16px
  background-color: #282828
  color: white
  text-align: center

/* Modal Content
.modal-content
  position: relative
  background-color: #fefefe
  margin: auto
  border: 1px solid #888
  width: 80%
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  animation-name: animatetop
  animation-duration: 0.4s

/* Add Animation
@keyframes animatetop
  from
    top: -300px
    opacity: 0

  to
    top: 0
    opacity: 1

.modal-content
  background-color: #fefefe
  margin: 15% auto
  border: 1px solid #888
  width: 80%
  height: auto
  min-height: 60%
  border-radius: 0

.close
  color: #aaa
  float: right
  font-size: 28px
  font-weight: bold
  &:hover, &:focus
    color: black
    text-decoration: none
    cursor: pointer

// From https://stackoverflow.com/questions/17217766/two-divs-side-by-side-fluid-display#53504816
.column
  float: left
  width: 50%

/* Clear floats after the columns */
.container:after
  content: ""
  display: table
  clear: both

@media only screen and (max-width: 700px)
  .column
    width: 100%

.m-bottom-0
    margin-bottom: 0

table.table-full-lines > th,td
    box-shadow: 0px 1px 0px 0px rgba(148, 148, 148, 0.16) !important

#page-title a img
  vertical-align: middle
  max-width: 13vw

ul.lang
  list-style: none
  text-align: right
  margin: 0
  border-top: 1px dotted lightgray
  li a
    background-size: 20px
    background-repeat: no-repeat
    padding-left: 30px
    background-position-y: center
    font-size: 16px
    color: gray
