---
layout: default
---

{{ content }}

{%- capture page_name -%}
  {{ page.name }}
{%- endcapture -%}

{%- for page in site.pages -%}
  {% if page.categories contains page_name %}
    <!-- Modal {{ page.id }}: {{ page.title }} -->
    {%- capture page_modal_id -%}
      modal{{ page.id }}
    {%- endcapture -%}

    {%- capture page_item_title -%}
      {{ page.title }}
    {%- endcapture -%}

    {%- capture page_modal_body -%}
      {{ page.content }}
    {%- endcapture -%}

    {%- include modals.html
      modal_id=page_modal_id
      modal_title=page_item_title
      modal_body=page_modal_body -%}

    {%- capture page_item_link -%}
      {{ site.url }}/{{ page.ref }}
    {%- endcapture -%}

    {%- capture page_item_icon_alt -%}
      Icon from: https://www.iconfinder.com/iconsets/the-elegant-set
    {%- endcapture -%}

    {%- capture page_item_icon_path -%}
      {{ site.url }}/img/icons/{{ page.image }}.png
    {%- endcapture -%}

    {%- capture page_modals -%}
      modal{{ page.id }}
    {%- endcapture -%}

    {%- include item_fig_desc.html
      item_icon_alt=page_item_icon_alt
      item_icon_path=page_item_icon_path
      item_desc=page_item_title
      item_modal=page_modals -%}

  {% endif %}
{%- endfor -%}

<div class="clearfix"></div>
<script src="{{ '/assets/js/modal.js' | prepend: site.baseurl }}"></script>
