---
layout: blank
---
<main>
  <article>
    <header>
      <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
      <h4>{% include author.html %}</h4>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    </header>
{{ content }}
    {% if site.comments.isso and page.comments %}
    <hr><div id="isso-thread"></div>
    {% endif %}
    {% if site.comments.disqus and page.comments %}
    <hr><div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
  </article>
</main>
